*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

:root{
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color: #fff;
}
.dark-theme{
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
}













body{
    background: var(--body-color);
    transition: background 0.3s;
}
nav{
    display: flex;
    align-items: center;
    padding: 5px 5%;
    background: var(--nav-color);
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}

.CollegeConnect{
    text-decoration: solid;
    color: #efefef;
    width: 160px;
    margin-right: 10px;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
}
.nav-left ul li img{
    width: 28px;
    margin: 0 15px;
}
.nav-user-icon{
    margin-left: 30px;
}
.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-box img{
    width: 18px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;

}
.left-sidebar{
    flex-basis: 23%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: #626262;
    
}
.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: #626262;
    
}
.main-container{
    flex-basis: 47px;
}
.imp-links a,.shortcut-links a{
   text-decoration: none;
   display: flex;
   align-items: center;
   margin: 30px;
   color: #626262;
   width: fit-content;
}
.imp-links a img{
    width: 25px;
    margin-right: 15px;
}
.imp-links a:last-child{
    color: #1876f2;
}
.imp-links{
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
    width: 4opx;
    border-radius: 4px;
    margin-right: 15px;

}
.shortcut-links h4{
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
}
.sidebar-title video{
    border: none;
    position: relative;
}
.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
   width: fit-content;
}
.sidebar-title a img{
    padding: 10px ;
    border-radius: 4px;
    align-items: center;
   
}
.contest {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contest a img{
    margin: 2px 2px;
    border:2px solid #666;
    border-radius: 4px;
}
.sidebar-title2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.sidebar-title2 a{
    text-decoration: none;
    color: #1876f2;
}
.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;

}
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
    width: 40px;
    border-radius: 50%;
}

.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.online-list .online::after{
    top: unset;
    bottom: 6px;
}
.Story-Gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 15px;
}
.Story{
    flex-basis: 18%;
    padding-top: 25%;
    margin: 0 12px;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
 .Story img{
position: absolute;
width: 25px;
border-radius: 50%;
top: 5px;
left: 5px;
border: 3px solid #1876f2;
}

.Story p{
    position: relative;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: var(--bg-color);
    font-size: 14px;
    
}
.Story1{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(images/Self.png);

}
.Story2{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(images/Status2.jpg);

}
.Story3{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(images/Status3.jpg);

}
.Story4{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(images/Status4.jpg);

}
.Story5{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(images/Status5.jpg);

}
.Story.Story1 img{
    top: unset;
    left: 50;
    bottom: 45px;
    transform: translateX(90%);

    width: 25px;
}
.Story.Story1 p{
    bottom: 2px;
}
.write-post-container{
    width: 91%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px 20px;
    margin: 10px 10px;
    columns: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;

}
.user-profile p{
    margin-bottom: 5px;
    font-weight: 500;
    color: #626262;
}
.user-profile small{
    font-size: 12px;
}
.post-input-container{
    padding-left: 55px;
    padding-top: 20px;

}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #eee;
    resize: none;
    color: ;
    background: var(--bg-color);
}
.add-post-links{
    display: flex;
    margin-top: 10px;
    padding-right: 10px;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.add-post-links a img{
    width: 20px;
    margin-right: 10px;
} 
.post-container{
    width: 91%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color:#626262;
    margin: 10px 10px;
    padding: 20px 20px;
}
.user-profile{
    padding: 10px 10px;

}
.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}
.post-details p{
    font-size: 13px;
    color: #626262;
}
.post-details img{
    width: 100%;
    border-bottom: 2px solid #eee;
    padding: 10px 10px 10px 1px;
}
.post-details video{
    width: 100%;
    border-bottom: 2px solid #eee;
    padding: 10px 10px 10px 1px;
}
.post-details span{
    color: #1876f2;
    cursor: pointer;
}
.post-row{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.activity-icons div img{
    width: 18px;
    margin-right: 10px;
}
.activity-icons div img:hover{
    width: 24px;
    cursor: pointer;
    opacity: 1;
}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
.post-profile-icon{
    display: flex;
    align-items: center;
}
.post-profile-icon img{
    margin-top: 10px;
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.post-profile-icon img:hover{
    width:50px;
    cursor: pointer;
}
.post-row a{
    color: #9a9a9a;
}
.load-more-btn{
    display: block;
    margin: auto;
    cursor: pointer;
    padding:5px 10px;
    color: black;
    border: 1px solid #9a9a9a;
    border-radius: 4px;

}

.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px;
    font-size: 13px;
}
.setting-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;

}
.setting-menu-height{
    max-height:450px;
}
.user-profile a{
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
}
.setting-menu-inner{
    padding: 20px;
}
.setting-links{
    display: flex;
    align-items: center;
    margin: 15px 0;

}
.setting-links .setting-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}
.setting-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    color: #9a9a9a;
    text-decoration: none;
}
#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 25px;
    border-radius: 15px;
    padding: 2px 0;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}
#dark-btn.dark-btn-on{
    padding-left: 25px;
    background: #0a0a0a;
}















